<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Delete Player</title>
</head>
<body>
<div class="top-banner">
    <p><a href="{{ url_for('show_teams') }}">CRICKET TEAM SUBMISSION APP</a></p>
    <div class="login">
        <div class="button">
            {% if 'username' not in session %}
                <a href="{{ url_for('showLogin') }}">Login</a>
            {% else %}
                <a href="{{ url_for('disconnect') }}">Logout</a>
            {% endif %}
        </div>
        <figure class="creator">
            <img src="{{ creator.picture }}">
        </figure>
    </div>
</div>
<div class="pane">
    <h1>Are you Sure you want to Delete {{ player.name }} profile?</h1>
    <div class="minipane">
        <form action="{{ url_for('delete_player', team_id=team.id, player_id=player.id) }}" method="post">
            <input type="submit" value="Delete">
            <a href="{{ url_for('show_players', team_id=team.id) }}">Cancel</a>

        </form>
    </div>
    <footer>
        <hr>
        <p align="center">&circledR; Registered Trademark of Shubham Prakash Jha</p>
    </footer>
</div>
</body>
</html>