<html>
<head>
    {#  Step 3.1 Create login page  #}
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=start" async defer></script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

</head>
<body>
{# step 3.2 GOOGLE PLUS SIGN IN BUTTON #}
<div id="signinButton">
    <span class="g-signin"
          data-scope="openid email"
          data-clientid="782880132703-mejip9njl1m3gdp50qjivcpqnn4n9b5t.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
    </span>
</div>
<!--END GOOGLE PLUS SIGN IN BUTTON -->

{# Step 4 Make a Callback Method #}
<div id="result"></div>

<script>
    function signInCallback(authResult) {
        if (authResult['code']){
            // Hide the sign-in button now that the user is authorized
            $('#signinButton').attr('style','display: none');

            // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{STATE}}',
                processData: false,
                contentType: 'application/octet-stream; charset=utf-8',
                data: authResult['code'],
                success: function (result) {
                    if (result){
                        $('#result').html('Login Successful</br>'+result+'</br>Redirecting...')
                        setTimeout(function () {
                            window.location.href="/teams";
                        },4000);
                    }else if (authResult['error']){
                        console.log('This was an error: '+authResult['error']);
                    }else {
                        $('#result').html('Failed to make a server-side call. check your configuration and console');
                    }
                }

            });
        }
    }
</script>
</body>
</html>