<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Teams</title>
</head>
<body>
    <h1>Add New Team</h1>
    <form action="{{ url_for('new_team') }}" method="post">
        <input type="text" name="name" placeholder="Add new Team">
        <input type="submit" value="Create">
        <a href="{{ url_for('show_teams') }}"><button>Cancel</button></a>
    </form>
</body>
</html>