<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Teams</title>
</head>
<body>
<div class="top-banner">
    <p>CRICKET TEAM SUBMISSION APP</p>
    <div class="login">
        <div class="button">
            {% if 'username' not in session %}
                <a href="{{ url_for('showLogin') }}">Login</a>
            {% else %}
                <a href="{{ url_for('disconnect') }}">Logout</a>
            {% endif %}
        </div>
        <figure class="creator">
            <img src="{{ url_for('static', filename='blank_user.gif') }}">
        </figure>
    </div>
</div>
<br>
<div class="pane">
    <div class="header">
        <h1>Cricket World Cup Teams</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class=flash>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    {#    <a href="{{ url_for('new_team') }}">Add new team</a><br><br>#}
    <div class="flexcontainer">{% for team in teams %}
        <div class="teamminipane">
            <a href="{{ url_for('show_players', team_id=team.id) }}"><h2>{{ team.name }}</h2></a>
            <div class="editdeletepane">
                <br>
                <a href="{{ url_for('show_players', team_id=team.id) }}"><img src="{{ team.image_url }}"></a>
            </div>
        </div>
    {% endfor %}
    </div>
    <br><br>
    <footer>
        <hr>
        <p align="center">&circledR; Registered Trademark of Shubham Prakash Jha</p>
    </footer>
</div>
</body>
</html>